# M-Pesa Daraja API Configuration
DARAJA_CONSUMER_KEY=umFDvA8j2npDkbrR916wIZeQiUdIdsk45vMGAHSu3U7ZbZ5P
DARAJA_CONSUMER_SECRET=Bp4lq3z3y2iRWbs98oCwNbT3cfwzAMXEV3RCQL79lY0fn1P2ji1dLOz6O7EGyIkw
DARAJA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
DARAJA_SHORTCODE=174379
DARAJA_ENV=sandbox

# Server
PORT=8080
BASE_URL=http://localhost:8080

# JWT
JWT_SECRET=change-me-in-production-nyumbadirect-2024
